<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <style>
        ul,
        li {
            list-style: decimal;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/myclick.html">jQuery special click</a>
            </li>
            <li><a href="/fake-array.html">fake array</a>
            </li>
            <li><a href="/flat-unique-sort-array.html">flat-unique-sort-array</a>
            </li>
        </ul>
    </nav>
    <script src="/libs/a.js"></script>
</body>

</html>