<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue next(3.0)</title>
    <script src="/libs/vue-next.js"></script>
</head>
<body>
    
    <div id="app">
        <h2>Vue next {{time}}</h2>
    </div>

    <script>
        const App = {
            data:{
                // time: Date.now()
            },
            setup(){
                const time=value(new Date)
                onMounted(()=>{
                    setInterval(()=>{
                        time = new Date
                    }, 800)
                })
                return {
                    time
                }
            }

        }
        Vue.createApp().mount(App, '#app')
    </script>
</body>
</html>